<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hngy.mapper.UserMapper">
<!--    List<User> listAll();-->
    <select id="listAll" resultType="com.hngy.entity.User">
        select * from user
    </select>
<!--    int insertOne(User user);-->
    <insert id="insertOne">
        insert into
        user(username, password, name, sex, birth, nation, edu, work, phone, place, email)
        values(#{username}, #{password}, #{name}, #{sex}, #{birth}, #{nation}, #{edu}, #{work}, #{phone}, #{place}, #{email})
    </insert>
    <select id="selectByUsernameAndPassword" resultType="com.hngy.entity.User">
        select * from user where username=#{username} and password=#{password}
    </select>
    <update id="updateUserInfo">
        update user set
            edu=#{edu},
            work=#{work},
            phone=#{phone},
            email=#{email}
        where
            username=#{username}
    </update>
    <update id="updatePassword">
        update user set
            password=#{password}
        where
            username=#{username}
    </update>
</mapper>